/*
 * @author: Armand (Tydax) BOUR
 */

body, html, h1, header, main, ul
{
    margin:             0;
    padding:            0;
}


body {
    background-color:       #252525;
    color:                  white;
    font-family:            Helvetica, Tahoma, Verdana;
}

#body {
    margin-top: 20px;
}

#body_center {
    background: silver;
    background:
        linear-gradient(135deg, transparent 20px, silver 0) top left,
        linear-gradient(225deg, transparent 20px, silver 0) top right,
        linear-gradient(315deg, transparent 20px, silver 0) bottom right,
        linear-gradient(45deg,  transparent 20px, silver 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1px 0;
}

#bgListUsers {
    background: #404040;
    background:
        linear-gradient(135deg, transparent 20px, #404040 0) top left,
        linear-gradient(225deg, transparent 20px, #404040 0) top right,
        linear-gradient(315deg, transparent 20px, #404040 0) bottom right,
        linear-gradient(45deg,  transparent 20px, #404040 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0 1px;
}

#listUsers {
    list-style: none;
    margin: 25px 0;
}

#listUsers li {
    cursor: pointer;
    height: 25px;
    padding: 10px 0;
}

.listUsers_name {
    text-align: center;
}

.listUsers_img {
    border: 2px solid #252525;
    border-radius: 5px;
    float: left;
}

/* List of users when hovering*/

#listUsers .mediumyellow,
    #listUsers .mediumgreen,
    #listUsers .mediumblue {
    height: 100px;
}

.mediumyellow {
    background-color: #f5cc44;
}

.invisible {
    display: none;
}