/*
 * @author: Armand (Tydax) BOUR
 */

body, html, h1, header, main, ul, h4
{
    margin:             0;
    padding:            0;
}


body {
    background-color:       #303030;
    color:                  white;
    font-family:            "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
#header {
    background-color: #404040;
    box-shadow: 2px 2px 8px #303030;
    border-bottom: 1px solid #303030;
    color: white;
    height: 50px;
    line-height: 50px;
}

#header h1 {
    margin-left: 25px;
    font-size: 16px;
}
*/

#header {
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    width: 70%;
}

#header_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#header_img {
    vertical-align: middle;
    width: 80%;
}

/* Body content part */

#body_content {
    border-top: 0.3em solid white;
    margin: 0 30px;
    padding-top: 1em;
}

#body_content,
 #side_panel,
 #div_info_user {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}

#body_content {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#side_panel {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}

#main_panel > div,
 #side_panel > div {
    border: 1px solid #404040;
    border-radius: 5px;
}

#main_panel {
    margin: 0 5px;
    width: 58%;
}

#side_panel {
    margin: 0 5px;
    width: 36%;
}

/* User info part */

#div_info_user {
    padding: 5px;
    position: relative;
    min-height: 150px;
}

#info_user_pic {
    border: 1px solid white;
    border-radius: 5px;
    height: 125px;
    position: absolute;
    right: 5px;
    text-align: right;
    width: 125px;
}

#div_links_user {
    margin-top: 5px;
    min-height: 150px;
}

/* List users part */

#list_users {
    list-style: none;
}

#list_users li {
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    padding: 10px 0;
}

.list_users_name {
    line-height: 50px;
    text-align: center;
}

.user_info_quote {
    font-style: italic;
}

/* List of users when hovering */

#list_users .mediumyellow .list_users_name,
    #list_users .mediumgreen .list_users_name,
    #list_users .mediumblue .list_users_name{
}

.mediumyellow {
    background-color: rgb(245, 204, 68);
}

.mediumblue {
    background-color: #2c47a0;
}

.mediumgreen {
    background-color: #1c8e4f;
}

.invisible {
    display: none;
}
