/*
 * @author: Armand (Tydax) BOUR
 */

body, html, h1, header, main, ul, h4
{
    margin:             0;
    padding:            0;
}


body {
    background-color:       #EEEEEE;
    color:                  black;
    font-family:            "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Body content part */

html, body {
    height: 100%;
}

#header {
    background-color: #303030;
    box-shadow: 0 0.15em 0.30em #606060;
    min-height: 38%;
}

#body_content {
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 2;
}


/* List users part */

#list_users {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row-wrap;
    justify-content: flex-start;
}

#list_users .list_user_link {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    box-shadow: 0.15em 0.15em 0.30em #202020;
    cursor: pointer;
    margin: 2em;
}

.list_user_img {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.list_users_name {
    line-height: 50px;
    text-align: center;
}

.user_info_quote {
    font-style: italic;
}

/* List of users when hovering */

.mediumyellow,
    .mediumgreen,
    .mediumblue {
    color: white;
}

.mediumyellow {
    border-bottom: 2em #dbb846 solid;
}

.mediumblue {
    border-bottom: 2em #2c47a0 solid;
}

.mediumgreen {
    border-bottom: 2em #1c8e4f solid;
}

.invisible {
    display: none;
}
